<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Reachability.h</string>
		<string>Reachability.m</string>
		<string>AQGzipInputStream.h</string>
		<string>AQGzipInputStream.m</string>
		<string>_AQGzipStreamInternal.h</string>
		<string>_AQGzipStreamInternal.m</string>
		<string>AQGzipStream.h</string>
		<string>AQGzipOutputStream.h</string>
		<string>AQGzipOutputStream.m</string>
		<string>DDMLService.h</string>
		<string>DDMLService.m</string>
		<string>jSONKIT.h</string>
		<string>jSONKIT.m</string>
		<string>OpenUDID.h</string>
		<string>OpenUDID.m</string>
		<string>SecureUDID.h</string>
		<string>SecureUDID.m</string>
		<string>CHKeyChain.h</string>
		<string>CHKeyChain.m</string>
		<string>FaildFeedbackCenter.h</string>
		<string>AFHTTPClient.m</string>
		<string>AFHTTPRequestOperation.m</string>
		<string>AFPropertyListRequestOperation.m</string>
		<string>AFXMLRequestOperation.m</string>
		<string>AFJSONRequestOperation.h</string>
		<string>AFJSONRequestOperation.m</string>
		<string>UIImageView+AFNetworking.m</string>
		<string>NetworkStateIndictor.h</string>
		<string>NetworkStateIndictor.m</string>
	</array>
	<array>
		<string>AlixPay.h</string>
		<string>AlixPay.m</string>
		<string>AlixPayOrder.h</string>
		<string>AlixPayOrder.m</string>
		<string>AlixPayResult.h</string>
		<string>AlixPayResult.m</string>
		<string>NSAttributedString+Attributes.h</string>
		<string>NSAttributedString+Attributes.m</string>
		<string>CGIXMLParser.h</string>
		<string>CGIXMLParser.m</string>
		<string>NSString__RegexKit.h</string>
		<string>NSString__RegexKit.m</string>
		<string>NSString+DDXML.h</string>
		<string>NSString+DDXML.m</string>
		<string>DDXMLDocument.h</string>
		<string>DDXMLDocument.m</string>
		<string>DDXMLElement.h</string>
		<string>DDXMLElement.m</string>
		<string>DDXMLNode.h</string>
		<string>DDXMLNode.m</string>
		<string>DDXMLElementAdditions.h</string>
		<string>DDXMLElementAdditions.m</string>
		<string>ARCMacro.h</string>
		<string>MTStatusBarOverlay.h</string>
		<string>MTStatusBarOverlay.m</string>
		<string>MobClick.h</string>
		<string>PHRefreshTriggerView.h</string>
		<string>PHRefreshTriggerView.m</string>
		<string>PHRefreshGestureRecognizer.h</string>
		<string>PHRefreshGestureRecognizer.m</string>
	</array>
	<array>
		<string>DDActionSheet.h</string>
		<string>DDActionSheet.m</string>
		<string>DDAlertView.h</string>
		<string>DDAlertView.m</string>
		<string>DDSBJSON.h</string>
		<string>DDSBJSON.m</string>
	</array>
	<array>
		<string>HTTPAuthenticationRequest.h</string>
		<string>HTTPAuthenticationRequest.m</string>
		<string>HTTPConnection.h</string>
		<string>HTTPConnection.m</string>
		<string>HTTPResponse.h</string>
		<string>HTTPResponse.m</string>
		<string>HTTPServer.h</string>
		<string>HTTPServer.m</string>
		<string>DDHttpServerManager.h</string>
		<string>DDHttpServerManager.m</string>
		<string>MyHTTPConnection.h</string>
		<string>MyHTTPConnection.m</string>
		<string>DDShortcutHttpConnection.h</string>
		<string>DDShortcutHttpConnection.m</string>
		<string>AsyncSocket.h</string>
		<string>AsyncSocket.m</string>
		<string>TMQuiltView.h</string>
		<string>TMQuiltView.m</string>
	</array>
</array>
</plist>
